# FPGA timing and pin-location constraints
#
# GNSS Firehose
# Copyright (c) 2012 Peter Monta <pmonta@gmail.com>

net "clk_3888" tnm_net = "clkTCXO";
timespec "ts_clkTCXO" = period "clkTCXO" 25.72ns;

net clk_3888 loc=p55 | iostandard=lvcmos33 ;

net phy_tx_clk loc=p84     | iostandard=lvcmos33 ;
net phy_tx_data<0> loc=p92 | iostandard=lvcmos33 ;
net phy_tx_data<1> loc=p88 | iostandard=lvcmos33 ;
net phy_tx_data<2> loc=p87 | iostandard=lvcmos33 ;
net phy_tx_data<3> loc=p85 | iostandard=lvcmos33 ;
net phy_tx_ctl loc=p83     | iostandard=lvcmos33 ;

net phy_rx_clk loc=p56     | iostandard=lvcmos33 ;
#net phy_rx_clk loc=p62     | iostandard=lvcmos33 ;
net phy_rx_data<0> loc=p79 | iostandard=lvcmos33 ;
net phy_rx_data<1> loc=p80 | iostandard=lvcmos33 ;
net phy_rx_data<2> loc=p81 | iostandard=lvcmos33 ;
net phy_rx_data<3> loc=p82 | iostandard=lvcmos33 ;
net phy_rx_ctl loc=p78     | iostandard=lvcmos33 ;

#NET "phy_rx_clk" CLOCK_DEDICATED_ROUTE = FALSE;

net phy_mdc loc=p59   | iostandard=lvcmos33 | slew="slow" ;
net phy_mdio loc=p58  | iostandard=lvcmos33 | slew="slow" ;
net phy_mdint loc=p57 | iostandard=lvcmos33 ;
net phy_nreset loc=p62  | iostandard=lvcmos33 | slew="slow" ;
#net phy_nreset loc=p56  | iostandard=lvcmos33 | slew="slow" ;

net led0 loc=p105 | iostandard=lvcmos33 | slew="slow" ;
net led1 loc=p104 | iostandard=lvcmos33 | slew="slow" ;
