# global

*.xrpt
_xmsgs

# xst

*.ngc
*.srp
xst

# ngdbuild

xlnx_auto_0_xdb
*.ngd
netlist.lst
*.bld

# map

*.ngm
*.pcf
*.ncd
*_usage.xml
*_summary.xml
*.mrp
*.map

# par

par_usage_statistics.html
*.ptwx
*_pad.csv
*.pad
*_pad.txt
*.unroutes
*.xpi
*.par

# bitgen

*.drc
*.xwbt
*.bit
*.bgn
usage_statistics_webtalk.html
webtalk.log
*_bd.bmm

# promgen

*.prm
*.mcs
*.cfi

# impact

_impact.cmd
_impact.log
_impactbatch.log
impact.xsl
webtalk_impact.xml
